#theme-toggle {
  font-size: 22px;
}

.hero {
  background: #050303;
  background: linear-gradient(358deg, var(--background) 14%, rgba(17, 99, 200, 1) 90%);
  padding: 0px 0px;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 50vh;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

/* Animaties */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease forwards;
}

.delay-1 {
  animation-delay: 0.3s;
}

.delay-2 {
  animation-delay: 0.6s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
